/* ===========================================
   CHAT – BACKGROUND OBRÁZEK
=========================================== */
.s9t60i1 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    url("https://png.pngtree.com/png-clipart/20230821/original/pngtree-tree-icon-vector-isolated-design-black-design-shape-vector-png-image_10576570.png");

  background-repeat: no-repeat, no-repeat;
  background-position: center 75%, center 75%;
  background-size: cover, 360px auto;
  background-attachment: scroll, fixed;
}
