/* ===========================================
   CHAT – BACKGROUND OBRÁZEK
=========================================== */
.s9t60i1 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    url("https://static.vecteezy.com/system/resources/previews/056/511/135/non_2x/single-tree-silhouette-black-and-white-nature-illustration-minimalist-design-graphic-vector.jpg");

  background-repeat: no-repeat, no-repeat;
  background-position: center 75%, center 75%;
  background-size: cover, 360px auto;
  background-attachment: scroll, fixed;
}
